/* colors:
primary-#202020
        #000000-80%
secondary-#13fff1         
*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #202020;
    padding: 0;
    margin: 0;
    /* margin-bottom: 2rem; */
    z-index: -1;
}
nav{
    background-color: rgba(0, 0, 0, 0.80);
    display: flex;
    padding: 20px;
    margin: 0;
    justify-content: space-between;
}
.logo{
    color: white;
    padding-top: 0.7rem;
    margin-top: 5px;   
}
.logo a{
text-decoration: none;
color: white;
}
/*UPDATE START*/
.navbar {
    display: flex;
    overflow: hidden;
    /* background-color: #333; */
    /* float: right; */
    padding: 10px 10px 10px 0;
  }

  /* .navbar form{
      /* float: right; 
  } */
  
  .navbar a {
    /* float: right; */
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .nav_btn:hover, .dropdown:hover .dropbtn {
    background-color: #202020;
    border-radius: 15px;
  }
 

  .dropdown-content {
    /* display: none; */
	visibility:hidden;
	opacity: 0;
    position: absolute;
    background-color: #202020;
    min-width: 300px;
    left: 44%;
    /* box-shadow: 0px 8px 16px 0px #13fff1; */
    z-index: 1;
	transition: visibility 0s,opacity 0.4s ;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 5px 10px;
  }
  
  .dropdown-content a:hover {
    background-color: #000000c7;
    font-size: 120%;
	border-radius: 10px;
    /* text-decoration: underline #13fff1; */
    /* box-shadow: 0 8px 16px 0px #13fff1; */
	background-color: #313131c7;
  }

.navbar a {
	
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* .dropdown {
	float: right;
	overflow: hidden;
} */

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	transition: ease-in 0.1s;
}

.dropdown:hover .dropdown-content {
    /* display: block; */
	visibility: visible;
	opacity: 1;
	
  }

#form{
    background-color: transparent;
    color: rgb(236, 250, 255);
    border: 0.5px solid white;
    border-radius: 20px;
    /* padding: 0.8rem; */
    font-size: 1rem;
    display: flex;
}
.search{
    background-color: transparent;
     color: rgb(236, 250, 255);
    /* border: 1px solid white;*/ 
    border-radius: 20px 0 0 20px; 
    /* border-top-right-radius: 0; */
    border: none;

    padding: 0.8rem;
    font-size: 1rem;
    
}

#form:focus-within{
    background-color: #202020;
    border:none;
    outline: none;
}
.search:focus-visible {
	outline: none;
}
#search-btn{
    padding-right: 25px;
    /* padding-top: 15px; */
    background-color: transparent;
    border: none;
    border-left: oldlace;
    color: oldlace;

}
#search-btn img{
  filter: invert();
}
.sub_head{
    color: white;
    border-left: 6px solid #13fff1;
    padding-left: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}
/* .search:focus{
    background-color: #000000b0;
    border: #000000b0;
} */



/* main page */

/* caraousel */

.d-block{
	height: 500px;
	width: 1100px;
	/* opacity: 0.9; */
}
.d-block {
	
}
.inpos{
position: absolute;
margin: auto;
z-index: 2;
}
.carousel-caption h5{
	font-size: 2.5rem;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
	top: 250px;
	width: 50px;
	height: 50px;
	
}
.carousel-control-prev-icon{
	left: 50px;
	transition: 5ms;
}
.carousel-control-prev-icon:hover{
	transform: scale(1.3);
}
.carousel-control-next-icon{
	right: 50px;
	transition: 5ms;
}
.carousel-control-next-icon:hover{
	transform: scale(1.3);
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #13fff1;
}

.ribbon {
	display: flex;
	justify-content: space-between;
}
.rm {
	margin-top: 35px;
	margin-right: 60px;
	text-decoration: none;
	color: #13fff1;
}
.rm:hover {
	font-size: 1.03rem;
}
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.box{
    width: 13%;
    padding: 0.5rem;
    background-color: #131313;
    margin: 0.3rem 0.5rem;
    position: relative;
    overflow: hidden;
    
}
.m_btn{
    text-decoration: none;
}
.image{
    width: 100%;
    /* height: 240px; */
    
}
.title{
    margin-top: 5px;
    text-align: center;
}
.info{
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
.green{
    color: rgb(251, 255, 251);
    text-align: center;
    text-shadow: 0px 1px 15px #13fff1;
    position: absolute;
    top: 0px;
    left: 0px;
    /* margin: 7rem; */
    margin: 0px;
    font-size: 3rem;
    padding-top: 45%;
    /* padding: 8rem 4rem; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.overview{
    color: #13fff1;
    background-color: rgb(36, 35, 35);
    position: absolute;
    padding: 1rem;
    left: 0px;
    bottom: 0;
    transform: translateY(101%);
    
    transition:transform 0.2s ease-in;
   
}
.box:hover{
    transform: scale(1.03);
    box-shadow: 0px 10px 15px -12px #13fff1;
}
/* .box:hover .overview{
 transform: translateY(0);
} */
.box:hover .green {
	display: block;
	transition: 3s;
}

/* details page */
.main_head {
	text-align: center;
	color: white;
}
.trailer {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.60));
	position: relative;
	height: 422px;
	z-index: 2;
	height: 500px;
}
.vid_bg {
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0px;
	z-index: 1;
	opacity: 40%;
	height: 510px;
}
.trailer iframe {
	margin: 5px 10%;
	max-width: 1500px;
	position: absolute;
	top: 0px;
	height: 500px;
	z-index: 3;
}
.box1 {
	background-color: #000000b0;
	display: flex;
	flex-direction: row;
}
.img_box {
	/* background-color: #202020; */
	width: 300px;
	padding: 0.5rem;
	margin: 5px;
}
.img_box img {
	width: 100%;
}
.details {
	color: white;
	display: flex;
	flex-direction: column;
	max-width: 50%;
	padding-left: 2rem;
}
#titl {
	font-size: 3rem;
	margin-bottom: 0.5rem;
	border-bottom: 1px solid #13fff1;
}
.sub_h {
	font-size: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}
.rt ,.rel{
	margin: 10px 5px;
}
.tagline{
	/* float: right; */
	/* text-align: right; */
	all: none;
	max-width: 250px;
	margin: 1px 0 15px 5px;
}
.ovview {
	margin: 0.5rem 0 1rem;

}
.star_rating{
	margin: 0.5rem 0rem ;
}
#rate {
	display: inline-block;
	color: white;
	font-size: 2.5rem;
	margin-top: 0.7rem;
	margin-right: 2rem;
}
.otdet {
	margin: 2rem 0rem;
	padding: 1rem;
	background-color: #0000009f;
	color: white;
}
.cast {
	display: flex;
	justify-content: center;
}
.cast img {
	width: 120px;
	transform: translateY(-10px);
	/* margin: 2rem; */
	/* border-radius: 5%; */
}
.cast_box{
	width: 8%;
	margin: 2rem;
	text-align: center;
}

.cstim_cont{
   border-radius: 50%;
   height: 120px;
   width: 120px;
   overflow: hidden;
}
.cst_nm{
	color:white;
	padding-left: 10px;
}

/* genre */
.box_big {
	width: 250px;
	margin: 0.5rem 0.7rem;
}
.ghead {
	text-align: center;
	color: white;
}

/* footer */
.footer {
	height: 150px;
	background-color: #000000b0;
}




/* footer */
.footer{
    height: 100px;
    
    background-color: #000000b0;
	z-index: 1;
}
.footer p{
	position: absolute;
	left: 45%;
	margin-top: 70px;
	color: white;
}
.dischub, .dischub h1{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 0.1rem;
}




/* signup/signin */
.signbutton {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 0px 25px;
	background-color: inherit;
	font-family: inherit;
	margin: 0px 5px;
	border-radius: 20px;
	
}
.signbutton:hover {
    
	background-color: #202020;
	border-radius: 20px;
}
.login-page {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(9px);
    
}
#login-form {
	display: none;
	/* backdrop-filter: blur(10px); */
	/* position: absolute;
    left: 36%; */
	z-index: 3;
}
.form-box {
	/* z-index: inherit; */
	width: 380px;
	height: 480px;
	position: relative;
	margin: 3% auto;
	background: white;
	padding: 10px;
	overflow: hidden;
	border-radius: 7px;
	/* backdrop-filter: blur(10px); */
	/* box-shadow: 0px 0px 7px 1500px rgba(0, 0, 0, 0.5); */
	/* width: 1280px;
    height: 720px; */
}
.button-box {
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0.5px 0.5px 70px 1px #13fff1;
	border-radius: 30px;
}
.toggle-btn {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn {
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #13fff1;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login {
	top: 150px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-group-register {
	top: 120px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field {
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #13fff1;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box {
	margin: 30px 10px 34px 0;
}
span {
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}
#login {
	left: 50px;
}
#login input {
	color: black;
	font-size: 15;
}
#register {
	left: 450px;
}
#register input {
	color: black;
	font-size: 15;
}



/* interest selection page */

.hd{
	text-align: center;
	color: aliceblue;
}
.pg{
	display: flex;
}
.int_frm{
	padding-top: 3rem;
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
	width: 75%;
	flex-wrap: wrap;
}
.chk{
	display:none;
}
.int_btn{
	border: 1px solid #13fff1;
	text-align: center;
	color: #13fff1;
	width: 20%;
	border-radius: 12px;
	padding: 0.5rem 3rem;
	margin: 1rem 2rem;
	font: 2.5rem;
	transition: 0.5s;
}
.int_btn_clk{
	border: none;
	color: aliceblue;
	text-align: center;
	width: 25%;
	max-width: 24%;
	background-color: #17e4d6;
	border-radius: 12px;
	padding: 0.5rem 3rem;
	margin: 1rem 2rem;
	font: 2.5rem;
	font-weight: 500;
	transition: 0.5s;
}
.icn{
	position: relative;
	top:-10%;
	right: 10%;
}
#sb{
	background-color: #17e4d6;
	width: 60%;
	padding: 10px 5px;
	margin-left: 2%;
	border-style: none;
	border-radius: 10px;
	color: aliceblue;
	font-size: 1.5rem;
}
.chatarea{
	display: flex;
	max-height: 400px;
	overflow-y: scroll;
}
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background-color: #202020;
}
::-webkit-scrollbar-thumb{
	background-color: #17e4d6;
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
	border-radius: 0px;
}




/* discussion */
.clickd{
	background-color: #17e4d6;
}
.discuss_box {
	/* display: flexbox; */
	/* position: relative; */
	width: 100%;
	height: 100%;
	margin-top: -6px;
	

	background: rgba(0, 0, 0, 0.80);
	/* border-radius: 30px 30px 0px 0px; */
}
.line_db {
	position: relative;
	width: 2%;
	height: 0%;
	left: 49%;
	top: -5px;
	background: #13fff1;
	border: 1.5px solid #13fff1;
	border-radius: 30px;
	box-shadow: 0px 0px 20px 0.5px #13fff1;
}
.genre_container_db {
	display: flex;
	flex-flow: row wrap;
	margin: 0.5%;
	padding: 1%;
	justify-content: space-evenly;
}
.genre_item_db {
	flex: none;
	width: 100px;
	padding: 7px;
	text-align: center;
	border-radius: 10px;
	background-color: white;
	border: none;
	cursor: pointer;
	font-weight: normal;
}
.genre_item_db:hover {
	/* background-color: #13fff1; */
	transform: scale(1.1);
	/* color: black; */
}
.db_box {
	display: flex;
	direction: column;
	flex-wrap: wrap;
	/* position: relative; */
	padding: 2% 3%;
	margin: 0 2%;
	width: auto;
	height: 300px;
	/* top: 200px; */
	left: 0;
	background: #202020;
	border-radius: 5px;
	/* overflow-x: visible; */
	overflow-x: hidden;
	overflow-y: scroll;
	/* justify-content: flex-start; */
}
.message_container {
	/* position: absolute; */
	width: max-content;
	max-width: 600px;
	/* float: right; */
	/* flex: 2; */
	margin-bottom: 25px;
	margin-right: 47%;
}
.message_box {
	display: flex;
	flex-wrap: wrap;
	/* flex-flow: row wrap;
	flex-shrink: 1; */
	width: max-content;
	max-width: 600px;
	text-align: left;
	background-color: #000000;
	color: white;
	/* width: 200px; */
	padding: 10px 20px;
	margin:5px 0px 2px 0px;
	border-radius: 10px;
	/* height: 20px; */
}
.sender_name {
	position: relative;
	top: -2px;
	left: 1%;
	color: #d1d1d1;
}
.sender_date_time {
	position: relative;
	bottom: -2px;
	font-size: 10px;
	max-width: 600px;
	text-align: right;
	/* align-items: flex-end; */
	/* right: -10%; */
	color: #d1d1d1;
}
.headingtext {
	color: white;
	font-size: 30px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	align-items: center;
	margin: 10px 0px;
	font-weight: bold;
}
.messagebar{
	display: flex;
	flex-direction: row;
	margin-top: 1%;
	/* justify-content: space-between; */

}
.input_db {
	/* display: flex; */
	position: relative;
	bottom: 2%;
	height: 40px;
	width: 91%;
	background-color: #202020;
	border-radius: 10px;
	border: none;
	margin: 2px 2px 2px 2%;
	padding-left: 1%;
	color: white;
	/* font-size: 18px; */
}
.input_db:focus {
	outline: none;
}
.sendbutton {
	/* display: flex; */
	position: relative;
	bottom: 2%;
	/* right: 1%; */
	height: 40px;
	width: 3%;
	background-color: #13fff1;
	border-radius: 50%;
	border: none;
	/* margin-top: 15px; */
	margin-left: 15px;
	/* margin: 2px 2% 2px 2%; */
	/* padding: 1px; */
	padding-left: 0.7%;
	padding-top: 0.3%;
	color: white;
	font-size: 18px;
	cursor: pointer;
}
.message_container_you {
	/* display: flexbox; */
	/* position: absolute; */
	width: max-content;
	max-width: 600px;
	flex-direction: column;
	/* flex-wrap: wrap; */
	/* align-content: flex-end; */
	/* flex: 2; */
	/* -ms-flex-align: end; */
	/* justify-content: flex-end; */
	margin-bottom: 25px;
	margin-left: auto;
	margin-bottom: 0.5%;
	
}
.message_box_you {
	justify-content: flex-end;
	display: flex;
	flex-wrap: wrap;
	/* flex-flow: row wrap;
	flex-shrink: 1; */
	width: max-content;
	max-width: 600px;
	text-align: left;
	background-color: #056162;
	color: white;
	/* width: 200px; */
	padding: 10px 20px;
	margin:5px 0px 2px 0px;
	border-radius: 10px;
	/* height: 20px; */
}
.maint{
	color:white;
	text-align: center;
	margin:auto;
}