
<!-- <div class="dischub" style="background-color: beige;">
    <h1 class="s_up" style="color: rgba(49, 29, 29, 0.897);">LOGIN/SIGN-UP TO ACCES DISCUSSION PORTAL</h1>
</div> -->

<div class="footer">
    <p>Binge It © 2021</p>
</div>


</body>
</html>