<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1 class="logo">BINGE IT</h1>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Categories</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                    <a href="#">Link 4</a>
                    <a href="#">Link 5</a>
                    <a href="#">Link 6</a>
                    <a href="#">Link 7</a>
                  </div>
            </div>
            <a href="#menu">MENU</a>
            <a href="#watchlist">Watchlist</a>
            <a href="#sign">Sign In/Sign Up</a>
            <form id="form" action="">
                <input type="text" placeholder="Search" class="search">
            </form>
    </div>
    </nav>
    