<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1 class="logo"><a href="/">BINGE IT</a></h1>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Categories</button>
                <div class="dropdown-content">
                    <a href="/genre/28/Action">Action</a>
                    <a href="/genre/12/Adventure">Adventure</a>
                    <a href="/genre/35/Comedy">Comedy</a>
                    <a href="/genre/878/Science Fiction">Science Fiction</a>
                    <a href="/genre/27/Horror">Horror</a>
                    <a href="/genre/10751/Family">Family</a>
                    <a href="/genre/16/Animation">Animation</a>
                  </div>
            </div>
            <a class="m_btn" href="#menu">MENU</a>
            <a class="m_btn" href="#watchlist">Watchlist</a>
            <a class="m_btn" href="#sign">Sign In/Sign Up</a>
            <form id="form" method="post" action="/">
                <input type="search" name="userSearch" id="" class="search" placeholder="Search" autocomplete="off">
                <button type="submit" id="search-btn"><img src="/images/search.png" alt="" width="20px"></button>
            </form>
    </div>
    </nav>
    