<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <nav style="z-index: 1;">
        <h1 class="logo"><a href="/">BINGE IT</a></h1>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Categories</button>
                <div class="dropdown-content">
                    <a href="/genre/28/Action">Action</a>
                    <a href="/genre/12/Adventure">Adventure</a>
                    <a href="/genre/35/Comedy">Comedy</a>
                    <a href="/genre/878/Science Fiction">Science Fiction</a>
                    <a href="/genre/27/Horror">Horror</a>
                    <a href="/genre/10751/Family">Family</a>
                    <a href="/genre/16/Animation">Animation</a>
                  </div>
            </div>
            <a class="m_btn" href="/discussion">Discuss</a>
            <a class="m_btn" href="#watchlist">Watchlist</a>
            <button class="signbutton m_btn" onclick="document.getElementById('login-form').style.display='block'" style="width:auto;">Sign In/ Sign Up</button>
            <form id="form" method="post" action="/">
                <input type="search" name="userSearch" id="" class="search" placeholder="Search" autocomplete="off">
                <button type="submit" id="search-btn"><img src="/images/search.png" alt="" width="20px"></button>
            </form>
    </div>
    </nav>
     <div id='login-form'class='login-page'>
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button'onclick='login()'class='toggle-btn'>Log In</button>
                    <button type='button'onclick='register()'class='toggle-btn'>Register</button>
                </div>
                <form id='login' class='input-group-login' method="post" action="/login">
                    <input type='text' name="username" class='input-field'placeholder='Email Id' required >
		            <input type='password' name="password" class='input-field'placeholder='Enter Password' required>
		    <!-- <input type='checkbox'class='check-box'><span>Remember Password</span> -->
		    <button type='submit'class='submit-btn'>Log in</button>
		 </form>
		 <form id='register' class='input-group-register' method="post" action="/register">
		     <input type='text' name="fn" class='input-field'placeholder='First Name' required>
		     <input type='text' name="ln" class='input-field'placeholder='Last Name ' required>
		     <input type='email' name="username" class='input-field'placeholder='Email Id' required>
		     <input type='password' name="password" class='input-field'placeholder='Enter Password' required>
		     <input type='password'class='input-field'placeholder='Confirm Password'  required>
		     <input type='checkbox'class='check-box'><span>I agree to the terms and                                                   conditions</span>
                    <button type='submit'class='submit-btn'>Register</button>
	         </form>
            </div>
        </div>

<script>
        var x=document.getElementById('login');
		var y=document.getElementById('register');
		var z=document.getElementById('btn');
		function register()
		{
			x.style.left='-400px';
			y.style.left='50px';
			z.style.left='110px';
		}
		function login()
		{
			x.style.left='50px';
			y.style.left='450px';
			z.style.left='0px';
		}
	</script>
	<script>
        var modal = document.getElementById('login-form');
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }
    </script>